@keyframes spin{to{ -webkit-transform: rotate(360deg); }}
@-webkit-keyframes spin{to{ -webkit-transform: rotate(360deg); }}
.sort-by-down::after{transform-origin: -50 50%;display: block;content: "";position: absolute;top: calc(50% - 6px);border: solid black;border-width: 0 3px 3px 0;display: inline-block;padding: 3px;transform: rotate(45deg);right: 0;}
.sort-by-up::after {transform-origin: -50 50%;display: block;content: "";position: absolute;top: calc(50% - 2px) !important;border: solid black;border-width: 0 3px 3px 0;display: inline-block;padding: 3px;transform: rotate(225deg);right: 0;top: 19px;}
.mms-filter{position: sticky;top: 40px;bottom: 0%;height: 96vh;overflow: scroll;}
.mms-filter::-webkit-scrollbar {width: 8px;height: 20px;}
.mms-filter::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);box-shadow: inset 0 0 2px rgba(0,0,0,0.3); border-radius: 4px;}
.mms-filter::-webkit-scrollbar-thumb{border-radius: 10px;-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);box-shadow: inset 0 0 20px rgba(0,0,0,0.5); }
#loading {display: inline-block;margin: auto;width: 50px;height: 50px;border: 3px solid rgba(255,255,255,.3);border-radius: 50%;border-top-color: black;animation: spin 1s ease-in-out infinite;-webkit-animation: spin 1s ease-in-out infinite;}
.container-loading-component-page {margin: auto;position: fixed;left: 0;top: 0;z-index: 103;background: rgb(0 0 0 / 74%);width: 100%;height: 100%;overflow: hidden;}
.container-loading-component-page .spinner-page.spinner-large-page {width: 35px;height: 35px;text-align: center;margin: 20px auto;left: 50%;top: 40%;position: absolute;}
.container-loading-component-page .spinner-page.spinner-large-page .spinner-blade-page {top: 11.5px;left: 15px;width: 5px;height: 12px;border-radius: 2.5px;}
#title_required::after{content: "*";color: red; padding-left: 2px;}
#underline{-webkit-box-shadow: inset 0 -1px 0 0 #111;box-shadow: inset 0 -1px 0 0 #111;padding-bottom: 2px;padding-right: 0;border-radius: 0;}
.cbx {-webkit-user-select: none;user-select: none;cursor: pointer;padding: 6px 8px;border-radius: 6px;overflow: hidden;transition: all 0.2s ease;}
.cbx:not(:last-child) { margin-right: 6px;}
.cbx span {float: left; vertical-align: middle;transform: translate3d(0, 0, 0);}
.cbx span:first-child { position: relative;width: 18px;height: 18px;border-radius: 4px;transform: scale(1);border: 1px solid #cccfdb;transition: all 0.2s ease;box-shadow: 0 1px 1px rgba(0,16,75,0.05);}
.cbx span:first-child svg {position: absolute;top: 3px;left: 2px;fill: none;stroke: #fff;stroke-width: 2;stroke-linecap: round;stroke-linejoin: round;stroke-dasharray: 16px;stroke-dashoffset: 16px;transition: all 0.3s ease;transition-delay: 0.1s;transform: translate3d(0, 0, 0);}
.cbx span:last-child {padding-left: 8px;line-height: 18px;}
.cbx:hover span:first-child {border-color: #000;}
.inp-cbx {position: absolute;visibility: hidden;}
.inp-cbx:checked + .cbx span:first-child {background: #000;border-color: #000;animation: wave 0.4s ease;}
.inp-cbx:checked + .cbx span:first-child svg {stroke-dashoffset: 0;}
.inline-svg {position: absolute;width: 0;height: 0;pointer-events: none;user-select: none;}
@media screen and (max-width: 640px) {.cbx {width: 100%; margin-bottom: 4px;display: inline-block;}}
@-moz-keyframes wave {50% {transform: scale(0.9);}}
@-webkit-keyframes wave {50% {transform: scale(0.9);}}
@-o-keyframes wave {50% {transform: scale(0.9);}}
@keyframes wave { 50% {transform: scale(0.9);}}











.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root{padding: 0 !important;}
.css-15v22id-MuiAccordionDetails-root{padding: 5px 0 !important;}
.css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root{background-color: white !important;}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{ line-height: 2.2em !important;}
.MuiFormControl-root { width: 100%;}
.css-ypiqx9-MuiDialogContent-root::-webkit-scrollbar {display: none;}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-disabled{ height: 55px !important;}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{color : black !important;}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{ text-transform: none !important;}