.sort-by-down::after{
	transform-origin: -50 50%;
    display: block;
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
	right: 0;
}

.sort-by-up::after {
    transform-origin: -50 50%;
    display: block;
    content: "";
    position: absolute;
    top: calc(50% - 2px) !important;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(225deg);
	right: 0;
	top: 19px;
  }

.mms-filter{
position: sticky;
top: 40px;
bottom: 0%;
height: 96vh;
overflow: scroll;
}
.mms-filter::-webkit-scrollbar {
    width: 8px;
	height: 20px;
}
 
.mms-filter::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
    border-radius: 4px;
}
 
.mms-filter::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.5); 
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root{padding: 0 !important;}
.css-15v22id-MuiAccordionDetails-root{padding: 5px 0 !important;}